<div id="container">
  <div id="top_div">
  <h1 class="header">Rantly</h1>
    <p class="let">Let it all out</p>
</div>

<div id="bottom_div">

  <h1 class="quote">"Super Awesome Quote"</h1>

</div>

</div>